header , main , aside , footer{
    padding: 20px;

}


.imgl{
    height: 15%;
}
#frm{
    height: 100%;
    width: 100%;
}
header{
    margin-bottom: 1%;
    text-align: center;
    font-size: 50px;
}

aside{
    float: left;
    width: 25%;
    height: 70%;
}
main{
    padding-top: 40px;
    float: left;
    width: 65%;
    height: 66%;
}

a{
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 50px;
    border: 1px solid #FF741F;
    padding: 10px 15px;
    width: 40%;
    text-align: center;
    margin-left: 20%;
    color: #FF741F;
    font-size: 1.5em;
    border-radius: 10px;
    transition: all 0.2s;
}
a:hover{
    background-color: #FF741F;
    color: white;
}

label{
    margin: 1%;
    display: inline-block;
    width: 14%;
}

.btn{
    padding: 10px 30px;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 7px;
    transition: all 0.2s;
}
.btn:hover{
    cursor: pointer;
    color: white;
}
.btnv:hover{
    background-color: #223599;
    border: 1px solid #223599;
    color: white;
}
.btna:hover{
    background-color: red;
    border: 1px solid red;
    color: white;
}

.btnv{
    background-color: #fff;
    border: 1px solid #223599;
    color: #223599;
}
.btna{
    background-color: white;
    border: 1px solid red;
    color: red;
}
legend{
    color: #FF741F;
    font-weight: bolder;
    font-size: 1.5em;
}
fieldset{
    border: dashed;
}
.chk{
    accent-color: red;
}
.cap{
    border: 2px solid gray;
    height: 150px;
    width: 150px;
}

header img{
    transition-delay: 3s;
}
header img:hover{
    filter: blur(10px);
} 

#div1{
    border: 1px solid black;
}

#div2{
    border: 1px solid black;
}


.t:hover{
    background-color: orange;
}